.dropzone-file-input {
  display: none;
}

.dropzone {
  max-width: 600px;
  max-height: 400px;
  border-radius: 20px;
  background-color: var(--background-secondary);
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  border-width: thick;
  border-style: dashed;
  border-color: transparent;
}

.dropzone:hover,
.dropzone-active {
  border-color: var(--foreground-accent);
}

.dropzone > .drag-drop {
  margin: 0;
  font-size: 40px;
  pointer-events: none;
}

.dropzone > .select-files {
  font-size: 20px;
  color: var(--foreground-secondary);
  pointer-events: none;
}
