table {
  width: 100%;
  border-spacing: 0px;
}

/* table .end {
  text-align: right;
} */

tr > * {
  padding: 5px;
}

/* doesnt work idk how to fix it */
/* td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

tr:nth-child(odd) {
  background: var(--background-tertiary);
}

td.index {
  color: var(--foreground-secondary);
  width: 10px;
}

td:last-child {
  white-space: nowrap;
  text-align: right;
}
