@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --background-primary: rgb(44 47 51);
  --background-secondary: rgb(35 39 42);
  --background-tertiary: rgb(24 28 32);
  --foreground-secondary: rgb(185, 187, 190);
  --foreground-primary: rgb(255, 255, 255);
  --foreground-accent: #5865f2;
}

html,
body {
  color-scheme: dark;
  margin: 0;
  color: var(--foreground-primary);
  background-color: var(--background-primary);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#drag {
  width: 100%;
  height: 100%;
  margin: 0;
}

#drag {
  font-size: 100px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.row {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.tile h1 {
  margin-top: 0;
  text-align: center;
}

.tile b {
  color: var(--foreground-accent);
}

.tile-1 {
  flex: 1 1 auto;
}

.tile-2 {
  flex: 2 2 auto;
}

.tile-3 {
  flex: 3 3 auto;
}

.emoji {
  max-width: 24px;
  max-height: 24px;
  vertical-align: middle;
}

.account-avatar {
  width: 66px;
  height: 66px;
  vertical-align: middle;
  margin-right: 12px;
  border-radius: 33px;
}

.account-discriminator {
  color: var(--foreground-secondary);
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.field-label {
  color: var(--foreground-secondary);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

table {
  width: 100%;
  border-spacing: 0px;
}

table .end {
  text-align: right;
}

tr > * {
  padding: 5px;
  border-radius: 5px;
}

tr:nth-child(odd) {
  background: var(--background-tertiary);
}