@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("./styles/dropzone.css");
@import url("./styles/field.css");
@import url("./styles/spinner.css");
@import url("./styles/result.css");
@import url("./styles/service-card.css");
@import url("./styles/table.css");

@import url("./services/Discord/styles.css");

:root {
  --background-primary: rgb(44 47 51);
  --background-secondary: rgb(35 39 42);
  --background-tertiary: rgb(24 28 32);
  --foreground-secondary: rgb(185, 187, 190);
  --foreground-primary: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  color-scheme: dark;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--foreground-primary);
  background-color: var(--background-primary);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#app {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
